<!DOCTYPE html>
<html>
<head>
  <title>Mercury</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAdfqHssdl3Lpo_Lul6UOOGLwnfO85bbJ0" %>
  <%= favicon_link_tag source = 'favicon.ico' %>
  <% if logged_in? %>
    <script type="text/javascript">
        window.currentUser =
        <%= render(
             "api/users/user.json.jbuilder",
             user: current_user
           ).html_safe %>
    </script>
  <% end %>
</head>

<body>
<%= yield %>
</body>
</html>
